@charset "UTF-8";

/*  Global attributes:  */

*:root {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated; /*  This is *actually* what we want.  */
    -webkit-touch-callout:  none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*  General layout:  */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
}
body {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #4f4f4f;
}

/*  Screens:  */

*[id^="jo-scrn"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: solid 8px;
    border-radius: 8px;
    border-image: url(images/gui/scrn-border.png) 8 8 repeat;
    padding: 8px;
    background: #777777;
    flex: auto;
}
canvas {
    display: block;
    border: solid 8px;
    border-radius: 8px;
    border-image: url(images/gui/cnvs-border.png) 8 8 repeat;
    background: #000000;
    padding: 0;
}

/*  Controls:  */

*[id^="jo-ctls"] {
    display: none;
    -webkit-flex-flow: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 96px;
    min-height: 96px;
    flex: auto;
}
html[data-jo-ctls-visible] *[id^=jo-ctls] {
    display: flex;
}
*[id^="jo-ctlr"] {
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
*[id^="jo-ctrl"] {
    background-image: url(images/gui/ctrl.png);
    background-size: 600% 600%;
    background-position: 100% 20%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
*[id^="jo-ctrl"][data-control-active] {
    background-position: 100% 60%;
}
#jo-ctrl-strt {
    background-position: 0% 0%;
}
#jo-ctrl-strt[data-control-active] {
    background-position: 0% 40%;
}
#jo-ctrl-selc {
    background-position: 20% 0%;
}
#jo-ctrl-selc[data-control-active] {
    background-position: 20% 40%;
}
#jo-ctrl-menu {
    background-position: 40% 0%;
}
#jo-ctrl-menu[data-control-active] {
    background-position: 40% 40%;
}
#jo-ctrl-look {
    background-position: 60% 0%;
}
#jo-ctrl-look[data-control-active] {
    background-position: 60% 40%;
}
#jo-ctrl-exit {
    background-position: 80% 0%;
}
#jo-ctrl-exit[data-control-active] {
    background-position: 80% 40%;
}
#jo-ctrl-actn {
    background-position: 100% 0%;
}
#jo-ctrl-actn[data-control-active] {
    background-position: 100% 40%;
}
#jo-ctrl-uprw {
    background-position: 0% 20%;
}
#jo-ctrl-uprw[data-control-active] {
    background-position: 0% 60%;
}
#jo-ctrl-dnrw {
    background-position: 20% 20%;
}
#jo-ctrl-dnrw[data-control-active] {
    background-position: 20% 60%;
}
#jo-ctrl-lfrw {
    margin-right: 32px;
    background-position: 40% 20%;
}
#jo-ctrl-lfrw[data-control-active] {
    background-position: 40% 60%;
}
#jo-ctrl-rtrw {
    background-position: 60% 20%;
}
#jo-ctrl-rtrw[data-control-active] {
    background-position: 60% 60%;
}

/*  No layout  */

html:not([data-jo-layout]) body {
    background-image: url(images/splash.gif);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
html:not([data-jo-layout]) *[id^="jo-scrn"], html[data-jo-ctls-visible]:not([data-jo-layout]) *[id^="jo-ctls"] {
    display: none;
}

/*  Layout 1:  */

html[data-jo-layout="1"] body {
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
}
html[data-jo-layout="1"] #jo-scrn-tp {
    align-items: flex-end;
}
html[data-jo-layout="1"] #jo-scrn-bt {
    align-items: flex-start;
}
html[data-jo-layout="1"] *[id^="jo-ctls"] {
    height: 100%;
}
html[data-jo-layout="1"] #jo-ctls-lf {
    order: -1;
}
html[data-jo-layout="1"] #jo-ctls-rt {
    order: 1;
}

/*  Layout 2:  */

html[data-jo-layout="2"] body {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
html[data-jo-layout="2"] *[id^="jo-scrn"] {
    width: 100%;
}
html[data-jo-layout="2"] #jo-scrn-tp {
    align-items: flex-end;
}
html[data-jo-layout="2"] #jo-scrn-bt {
    align-items: flex-start;
}

/*  Layout 3:  */

html[data-jo-layout="3"] body {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
html[data-jo-layout="3"] *[id^="jo-scrn"] {
    -webkit-flex-flow: column;
    flex-flow: column;
    width: 50%;
}
html[data-jo-layout="3"] #jo-scrn-tp {
    align-items: flex-end;
}
html[data-jo-layout="3"] #jo-scrn-bt {
    align-items: flex-start;
}

/*  Layout 4:  */

html[data-jo-layout="4"] body {
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-around;
    align-items: stretch;
}
html[data-jo-layout="4"] *[id^="jo-scrn"] {
    -webkit-flex-flow: column;
    flex-flow: column;
}
html[data-jo-layout="4"] #jo-scrn-tp {
    align-items: flex-end;
}
html[data-jo-layout="4"] #jo-scrn-bt {
    align-items: flex-start;
}
html[data-jo-layout="4"] #jo-ctls-lf {
    order: -1;
}
html[data-jo-layout="4"] #jo-ctls-rt {
    order: 1;
}

/*  Debug:  */

html[data-jo-debug] {
    background: white;
}
html[data-jo-debug] body {
    background: black;
}
html[data-jo-debug] #jo-scrn-tp {
    background: green;
}
html[data-jo-debug] #jo-scrn-bt {
    background: red;
}
html[data-jo-debug] #jo-scrn-tp canvas {
    background: darkred;
}
html[data-jo-debug] #jo-scrn-bt canvas {
    background: darkgreen;
}
html[data-jo-debug] #jo-ctls-lf {
    background: blue;
}
html[data-jo-debug] #jo-ctls-rt {
    background: yellow;
}
