html {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 12px;
    color: white;
    background: black;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: none;
    padding: 0;
}
#outputs:not([hidden]) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
#layer {
    margin: 12px auto;
    align-self: center;
}
#map {
    flex-grow: 1;
    flex-shrink: 0;
}
#map_scrn {
    background: #333;
    box-shadow: 0px 0px 7px 0px #FFF;
}
#tiles {
    flex-grow: .5;
    flex-shrink: 0;
}
#outwrapper {
    margin: 12px auto;
    width: 75%;
    max-width: 31pc;
    height: 48px;
    overflow: auto;
    text-align: center;
}
#outstring, #outstring2 {
    word-wrap: break-word;
}
dl, dt, dd, p {
    margin: 0;
    padding: 0;
}
